$primary-color: #14dd99;
$secondary-color: #1d2b26;

* {
  margin: 0;
  padding: 0;
}

.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 30px;

  .logo h1 {
    font-weight: bolder;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .nav-menu ul li {
    display: inline;
    margin: 20px;
    font-size: 16px;

    a {
      text-decoration: none;
      color: white;
      transition: 0.3s all ease-in-out;
      cursor: pointer;
      border-radius: 14px;
    }
  }

  .nav-menu ul :last-child {
    margin: 0;
  }

  .nav-menu ul li a:hover {
    background-color: rgb(112, 108, 108);
    padding: 10px;
  }
}